@charset "UTF-8";
:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
  --button-hover-color: #188ce8;
  --background-color-dark: #2f303a;
  --white-color: #ffffff;
  --background-color-light: #f5f4fa;
  --hero-background-color: #2f303a40;
  --svg-color: #afb1b8;
  --business-description-bgc: #2f303a80

  --card-set-gap: 30px;
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visualy-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */
.header {
  border-bottom: 1px solid #ececec;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  color: var(--title-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  -webkit-transition: text-shadow --main-animation;
  transition: text-shadow --main-animation;
}
.logo__text {
  color: var(--hover-color);
}
.logo:hover, .logo:focus {
  text-shadow: --main-shadow, --main-shadow, --main-shadow;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  -webkit-transition: color --main-animation;
  transition: color --main-animation;
}
.navigation__link--activ::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}
.navigation__link--activ {
  color: var(--hover-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--hover-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color --main-animation;
  transition: color --main-animation;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--hover-color);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--hero-background-color)), to(var(--hero-background-color))), url("../images/hero-img.jpg");
  background-image: linear-gradient(to top, var(--hero-background-color), var(--hero-background-color)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}
.hero__button {
  font-family: inherit;
  background-color: var(--hover-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  cursor: pointer;
  padding: 10px 32px;
  -webkit-box-shadow: --main-shadow;
          box-shadow: --main-shadow;
  -webkit-transition: background-color --main-animation;
  transition: background-color --main-animation;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover-color);
}

.specialty {
  padding-top: 94px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features__item {
  max-width: 270px;
}
.features__image {
  background-color: var(--background-color-light);
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__icon {
  max-width: 70px;
  max-height: 70px;
  display: block;
}
.features__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__description {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.business {
  padding-top: 94px;
  padding-bottom: 94px;
}
.business__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.business__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.business__content {
  position: relative;
  max-height: 294px;
}
.business__description {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: --business-description-bgc;
}

.team {
  background-color: var(--background-color-light);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__item {
  background-color: var(--white-color);
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

/* Ссылки на соцсети команды */
.social {
  margin-left: 70px;
}
.social__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-list__item {
  margin-right: 10px;
}
.social-list__item:last-child {
  margin-right: 0;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color --main-animation;
  transition: background-color --main-animation;
}
.social-list__link--white {
  fill: var(--white-color);
}
.social-list__link:hover, .social-list__link:focus, .social-list__link:active {
  background-color: var(--hover-color);
}
.social-list__icon {
  width: 20px;
  height: 20px;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: var(--svg-color);
  width: 44px;
  height: 44px;
  -webkit-transition: background-color --main-animation, fill --main-animation;
  transition: background-color --main-animation, fill --main-animation;
}
.social-list__link:focus, .social-list__link:hover, .social-list__link:active {
  background-color: var(--hover-color);
  fill: var(--white-color);
}
.social-list__link--white {
  fill: var(--white-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-color);
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients__item {
  margin-right: 30px;
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: var(--svg-color);
  -webkit-transition: color --main-animation, border --main-animation;
  transition: color --main-animation, border --main-animation;
}
.clients__link:hover, .clients__link:focus, .clients__link:active {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__logo {
  color: var(--white-color);
  margin-bottom: 20px;
  margin-right: 0;
  -webkit-transition: text-shadow --main-animation;
  transition: text-shadow --main-animation;
}
.footer__logo:hover, .footer__logo:focus {
  text-shadow: 0px 4px 4px rgba(117, 117, 117, 0.4), 0px 4px 4px rgba(117, 117, 117, 0.4), 0px 4px 4px rgba(117, 117, 117, 0.4);
}

.address {
  font-style: normal;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__text {
  margin-bottom: 9px;
  -webkit-transition: color --main-animation;
  transition: color --main-animation;
}
.address__text:hover, .address__text:focus {
  color: var(--hover-color);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color --main-animation;
  transition: color --main-animation;
}
.address__link:hover, .address__link:focus {
  color: var(--hover-color);
}

.subscribe {
  margin-left: auto;
}
.subscribe__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.subscribe__input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
  outline: 0;
}
.subscribe__button {
  font-family: inherit;
  background-color: var(--hover-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  cursor: pointer;
  padding: 10px 29px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-shadow: --main-shadow;
          box-shadow: --main-shadow;
  -webkit-transition: background-color --main-animation;
  transition: background-color --main-animation;
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: var(--button-hover-color);
}
.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity --main-animation, visibility --main-animation;
  transition: opacity --main-animation, visibility --main-animation;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  /* transform: translate(-50%, -50%) scale(0.8); */
  -webkit-transform: translate(-50%, -50%) translateY(500px);
          transform: translate(-50%, -50%) translateY(500px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  /* transform: translate(-50%, -50%) scale(1); */
  -webkit-transform: translate(-50%, -50%) translateY(0);
          transform: translate(-50%, -50%) translateY(0);
  -webkit-transition: -webkit-transform --main-animation;
  transition: -webkit-transform --main-animation;
  transition: transform --main-animation;
  transition: transform --main-animation, -webkit-transform --main-animation;
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: fill --main-animation;
  transition: fill --main-animation;
}
.modal__button:hover, .modal__button:focus {
  fill: var(--hover-color);
}
.modal__icon {
  width: 11px;
  height: 11px;
}

/* Форма модального окна */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--text-color);
}
.form__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.form__label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 10px;
}
.form__input {
  width: 448px;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color --main-animation;
  transition: border-color --main-animation;
}
.form__input:focus, .form__input:hover {
  outline: 0;
  border-color: var(--hover-color);
}
.form__input:focus + .form__icon, .form__input:hover + .form__icon {
  fill: var(--hover-color);
}
.form__icon {
  position: absolute;
  left: 15px;
  top: 32px;
  -webkit-transition: fill --main-animation;
  transition: fill --main-animation;
}
.form__feedback {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color --main-animation;
  transition: border-color --main-animation;
}
.form__feedback:focus, .form__feedback:hover {
  outline: 0;
  border-color: var(--hover-color);
}
.form__button {
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  -webkit-box-shadow: --main-shadow;
          box-shadow: --main-shadow;
  border: none;
  background-color: var(--hover-color);
  color: var(--white-color);
  cursor: pointer;
  -webkit-transition: background-color --main-animation;
  transition: background-color --main-animation;
}
.form__button:hover, .form__button:focus {
  background-color: var(--button-hover-color);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  -webkit-transition: border-color --main-animation, background-color --main-animation;
  transition: border-color --main-animation, background-color --main-animation;
}
.checkbox__input:focus + .checkbox__icon {
  border-color: var(--hover-color);
}
.checkbox__input:checked + .checkbox__icon {
  background-origin: border-box;
  background-color: var(--hover-color);
  border-color: transparent;
}
.checkbox__link {
  margin-left: 4px;
  color: var(--hover-color);
  text-decoration: underline;
  cursor: pointer;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопки */
.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.filters-list__item:not(:last-child) {
  margin-right: 8px;
}
.filters-list__button {
  font-family: inherit;
  font-weight: 500;
  background: var(--background-color-light);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  -webkit-transition: background-color --main-animation, color --main-animation, -webkit-box-shadow --main-animation;
  transition: background-color --main-animation, color --main-animation, -webkit-box-shadow --main-animation;
  transition: background-color --main-animation, color --main-animation, box-shadow --main-animation;
  transition: background-color --main-animation, color --main-animation, box-shadow --main-animation, -webkit-box-shadow --main-animation;
}
.filters-list__button:hover, .filters-list__button:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
  border: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.aktiv-btn {
  background: var(--hover-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Наши проекты */
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.project__item {
  -ms-flex-preferred-size: calc(33.3333333333% - var(--card-set-gap));
      flex-basis: calc(33.3333333333% - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}
.project__link {
  -webkit-transition: -webkit-box-shadow --main-animation;
  transition: -webkit-box-shadow --main-animation;
  transition: box-shadow --main-animation;
  transition: box-shadow --main-animation, -webkit-box-shadow --main-animation;
}
.project__link:hover, .project__link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__label {
  position: relative;
  overflow: hidden;
}
.project__image {
  display: block;
  max-width: 100%;
}
.project__description {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: background-color --main-animation, opacity --main-animation, -webkit-transform --main-animation;
  transition: background-color --main-animation, opacity --main-animation, -webkit-transform --main-animation;
  transition: background-color --main-animation, transform --main-animation, opacity --main-animation;
  transition: background-color --main-animation, transform --main-animation, opacity --main-animation, -webkit-transform --main-animation;
}
.project__link:hover .project__description, .project__link:focus .project__description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9019607843);
}
.project__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.project__article {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */