/* Хедер */

.header {
  border-bottom: 1px solid #ececec;

  &__content {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: var(--title-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  transition: text-shadow var(--main-animation);
  &__text {
    color: var(--hover-color);
  }
  &:hover,
  &:focus {
    text-shadow: var(--main-shadow), var(--main-shadow), var(--main-shadow);
  }
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;

  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);

  transition: color var(--main-animation);

  &--activ::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
  }

  &--activ {
    color: var(--hover-color);
  }

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.contacts {
  display: flex;
  justify-content: end;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: color var(--main-animation);
  }

  &__link:hover,
  &__link:focus {
    color: var(--hover-color);
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
