/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--main-animation), visibility var(--main-animation);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    & .modal {
      /* transform: translate(-50%, -50%) scale(0.8); */
      transform: translate(-50%, -50%) translateY(500px);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /* transform: translate(-50%, -50%) scale(1); */
  transform: translate(-50%, -50%) translateY(0);
  transition: transform var(--main-animation);

  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid #00000010;
    background-color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    cursor: pointer;

    transition: fill var(--main-animation);

    &:hover,
    &:focus {
      fill: var(--hover-color);
    }
  }

  &__icon {
    width: 11px;
    height: 11px;
  }
}

/* Форма модального окна */

.form {
  display: flex;
  flex-direction: column;
  color: var(--text-color);

  &__title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
  }

  &__label {
    position: relative;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    margin-top: 10px;
  }

  &__input {
    width: 448px;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--main-animation);

    &:focus,
    &:hover {
      outline: 0;
      border-color: var(--hover-color);
    }

    &:focus + .form__icon,
    &:hover + .form__icon {
      fill: var(--hover-color);
    }
  }

  &__icon {
    position: absolute;

    left: 15px;
    top: 32px;

    transition: fill var(--main-animation);
  }

  &__feedback {
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 448px;
    height: 120px;

    resize: none;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--main-animation);

    &:focus,
    &:hover {
      outline: 0;
      border-color: var(--hover-color);
    }
  }

  &__button {
    padding: 10px 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    border-radius: 4px;
    box-shadow: var(--main-shadow);
    border: none;

    background-color: var(--hover-color);
    color: var(--white-color);
    cursor: pointer;

    transition: background-color var(--main-animation);

    &:hover,
    &:focus {
      background-color: var(--button-hover-color);
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__icon {
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;

    transition: border-color var(--main-animation), background-color var(--main-animation);

    .checkbox__input:focus + & {
      border-color: var(--hover-color);
    }

    .checkbox__input:checked + & {
      background-origin: border-box;
      background-color: var(--hover-color);
      border-color: transparent;
    }
  }

  &__link {
    margin-left: 4px;
    color: var(--hover-color);
    text-decoration: underline;
    cursor: pointer;
  }
}
