.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопки */

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    font-family: inherit;
    font-weight: 500;
    background: var(--background-color-light);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;

    transition: background-color --main-animation, color --main-animation,
      box-shadow --main-animation;

    &:hover,
    &:focus {
      background-color: var(--hover-color);
      color: var(--white-color);
      border: none;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.aktiv-btn {
  background: var(--hover-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
