/* Ссылки на соцсети команды */

.social {
  margin-left: 70px;

  &__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      margin-right: 10px;
    }

    &__item:last-child {
      margin-right: 0;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      width: 44px;
      height: 44px;
      transition: background-color --main-animation;
    }

    &__link--white {
      fill: var(--white-color);
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
      background-color: var(--hover-color);
    }

    &__icon {
      width: 20px;
      height: 20px;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      fill: var(--svg-color);
      width: 44px;
      height: 44px;

      transition: background-color --main-animation, fill --main-animation;
    }

    &__link:focus,
    &__link:hover,
    &__link:active {
      background-color: var(--hover-color);
      fill: var(--white-color);
    }

    &__link--white {
      fill: var(--white-color);
    }
  }
}
