// Цвета

$title-color: #212121;
$text-color: #757575;
$hover-color: #2196f3;
$button-hover-color: #188ce8;
$background-color-dark: #2f303a;
$white-color: #ffffff;
$background-color-light: #f5f4fa;
$hero-background-color: #2f303a40;
$svg-color: #afb1b8;

// Отступы

$card-set-gap: 30px;

// Анимация

$main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Тени

$main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
  --button-hover-color: #188ce8;
  --background-color-dark: #2f303a;
  --white-color: #ffffff;
  --background-color-light: #f5f4fa;
  --hero-background-color: #2f303a40;
  --svg-color: #afb1b8;
  --business-description-bgc: #2f303a80;

  --card-set-gap: 30px;
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
